h1 {
  color: black;
}

.container {
  width: 80%;
}

body {
  background-color: #DDD;
}

#main-content {
  padding-bottom: 50px;
}

.barcode {
  height: 100px;
  width: 100px;
}
.factionIcon {
  height: 48px;
  width: 48px;
}

.zombieGreen {
  background-color: greenyellow;
}

.hunterOrange {
  background-color: #ff6600;
}

#scannerIndicator {
  display: inline-block;
  width: 58px;
  height: 38px;
  border: black 1px solid;
  border-radius: 5px;
  background-color: #444;
}

#scannerIndicator.scanLight {
  background-color: #00ff00; 
}

.newFactionIcon {
  width: 200px;
  height: 200px;
}

#footer {
  background-color: #222;
  display:flex;
  justify-content: center;
  color: whitesmoke;
  z-index: 1;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  a {
    color: deepskyblue;
  }
  #footer-content {
    display:flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
  }
}