h1 {
  color: black;
}

body {
  background-color: #CCC;
}

.container {
  width: 80%;
}

body {
  background-color: #DDD;
}

#main-content {
  padding-bottom: 50px;
}

header {
  margin: 0;
  height: 100px;
  background-color: black;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  div {
    display: inline-block;
    text-align: center;
    margin: 10px;
  }
}

.stacked-text {
  top: -1px;
  line-height: .9;
  font-size: 1.6rem;
}

.drop-shadow {
  box-shadow: 2px 2px 6px #777;
}

.larger-text {
  font-size: 3.5rem;
}

.playerInfo {
  padding: 10px;
  background-color: whitesmoke;
  margin: 15px;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
}

.factionIcon {
  margin: 5px;
  height: 48px;
  width: 48px;
  box-shadow: 2px 2px 6px #777;
  border-radius: 3px;
}

@keyframes zombie-waggle {
  0%, 100% {
    transform: rotate(-4deg) scale(1.02);

  }
  50% {
    transform: rotate(-5deg) scale(1);
  }
}

.zombie-font {
  color: red;
  font-family: 'Creepster', cursive;
  animation: zombie-waggle 5s infinite;
  font-size: 4rem;
}

.header-font {
  font-family: 'Alfa Slab One', cursive;
}

.zombieGreen {
  background-color: greenyellow;
}

.hunterOrange {
  background-color: #ff6600;
}

#scannerIndicator {
  display: inline-block;
  width: 58px;
  height: 38px;
  border: black 1px solid;
  border-radius: 5px;
  background-color: #444;
}

#scannerIndicator.goodScanLight {
  background-color: #0F0;
}
#scannerIndicator.badScanLight {
  background-color: #F00;
}

.newFactionIcon {
  width: 200px;
  height: 200px;
}

#footer {
  background-color: #222;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  z-index: 1;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  a {
    color: deepskyblue;
  }
  #footer-content {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
  }
}