h1 {
  color: red;
}

.barcode {
  height: 100px;
  width: 100px;
}
.factionIcon {
  height: 48px;
  width: 48px;
}

.zombieGreen {
  background-color: greenyellow;
}

.hunterOrange {
  background-color: #ff6600;
}