<div>
  <h2>{{dc.message}}</h2>
  <div ng-if="dc.askPlayerIfKilled">
    <button ng-click="dc.playerDied(true)">Yes</button>
    <button ng-click="dc.playerDied(false)">No</button>
  </div>
  <div ng-if="dc.scanningWeapons">
    <button ng-click="dc.doneScanningWeapons()">Done</button>
  </div>
  <div class="playerInfoBox">
    <div><h3>{{dc.data.currentPlayer.nickname}}</h3></div>
    <img ng-src="{{dc.data.currentPlayer.icon}}" class="factionIcon" ng-class="{zombieGreen: dc.data.currentPlayer.isZombie(), hunterOrange: dc.data.currentPlayer.isHunter()}">
    <div><p>Level: {{dc.data.currentPlayer.level}}</p></div>
    <div><p>XP: {{dc.data.currentPlayer.xp}}</p></div>
    <div><p>Credits: {{dc.data.currentPlayer.credits}}</p></div>
    <div><p>Score: {{dc.data.currentPlayer.score}}</p></div>
  </div>
</div>