<div >
  <h1>Welcome <img ng-src="{{kc.data.currentPlayer.icon}}" class="factionIcon" ng-class="{zombieGreen: kc.data.currentPlayer.isZombie(), hunterOrange: kc.data.currentPlayer.isHunter()}"> {{kc.data.currentPlayer.nickname}}</h1>
  <h2>{{kc.data.message}}</h2>
  <div class="playerInfoBox">
    <div><p>{{kc.data.currentPlayer.nickname}}</p></div>
    <div><p>Level: {{kc.data.currentPlayer.level}}</p></div>
    <div><p>XP: {{kc.data.currentPlayer.xp}}</p></div>
    <div><p>Credits: {{kc.data.currentPlayer.credits}}</p></div>
    <div><p>Score: {{kc.data.currentPlayer.score}}</p></div>
  </div>
  <button ng-click="kc.finalizeKills()">Finalize Kills</button>
</div>
